<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngsm.com.mycollege">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DepartmentsActivity" />
        <activity android:name=".HostelActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".FacultyActivity" >
        </activity>
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".PlacementActivity" />
        <activity android:name=".PlacementHistoryActivity" />
        <activity android:name=".WebSiteActivity" />
        <activity android:name=".TieUpCompaniesActivity" />
        <activity
            android:name=".MainProfileActivity"
            android:label="@string/title_activity_main_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PostActivity">
        </activity>
        <activity android:name=".PostingActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".HomePageActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>